<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Untitled Page</title>
</head>
<body>

    <hr />
    <p style="background-color: #00FFFF">
        Good Batches</p>
    <p>
        &nbsp;</p>
    <p>
        <img alt="" src="c:/djangotest/mysite/polls/Wedding Nov 2011-0050.jpg" style="height: 126px; width: 642px" /></p>
    <hr />
    <p>
        Bad Batches</p>
        _errorsummary_<br/>
        _errordetail_ <br />

    <p>
        <input id="Checkbox1" type="checkbox" /></p>
    <p>
        <input id="Checkbox2" type="checkbox" /></p>

</body>
</html>
